<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DecompressionZip.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EEEFB2A31C06CAD6002828AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EEEFB2BC1C06CAD7002828AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EEEFB2C71C06CAD7002828AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
